:host
{
    display: flex;
    width:   100%;
    height:  100%;
    overflow: scroll;

    &::-webkit-scrollbar-track
    {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
        background-color: #F5F5F5;
        border-radius: 10px;
    }

    &::-webkit-scrollbar
    {
        width: 10px;
        background-color: #F5F5F5;
    }

    &::-webkit-scrollbar-thumb
    {
        //border-radius: 3px;
        background-color: #FFF;
        background-image:-webkit-gradient(
            linear,
            40% 0%,
            75% 84%,
            from(darkcyan),
            to(#005970),
            color-stop(.6,#005970)
        )
    }

    grid-area
    {
        display: grid;
        width:   100%;
        height:  100%;

        grid-template-columns: 100%;
        grid-template-rows:    50px auto;
        grid-template-areas:
            "title-area"
            "content-area";

        > title-area
        {
            grid-area: title-area;
            > h1
            {
                margin:     4px;
                text-align: center;
            }
        }
        > content-area { grid-area: content-area; }
    }
}