:host
{
    width:  100%;
    height: 100%;
    display: flex;
    ::slotted(*)
    {
        //display: flex;
        //position: absolute;
        margin: auto;
    }
}

:host,
:host([v]),
:host([vertical]),
:host([orientation="vertical"]),
:host([v])
{
    width:   100%;
    flex-direction: column;
}

:host([h]),
:host([horizontal]),
:host([orientation="horizontal"])
{
    height:  100%;
    flex-direction: row;
}

:host([reverse])
:host([v][reverse]),
:host([vertical][reverse]),
:host([orientation="vertical"][reverse])
{
    flex-direction: column-reverse;
}

:host([h][reverse]),
:host([horizontal][reverse]),
:host([orientation="horizontal"][reverse])
{
    flex-direction: row-reverse;
}