:host
{
    display: table-cell;
}

:host([alignment="left"])
{
    > container-area > content-area
    {
        margin-left: 0;
        text-align:  left;
    }
}

:host([alignment="right"])
{
    > container-area > content-area
    {
        margin-right: 0;
        text-align:   right;
    }
}