@import "../styles/common.scss";

:host
{
    width:  100%;
    height: 100%;
    overflow: hidden;
    grid-area
    {
        display: grid;
        width:  100%;
        height: 100%;
        grid-template-columns: 120px auto;
        grid-template-rows:    30px  auto 50px;
        grid-template-areas:
            "menu-area        menu-area"
            "side-bar-area content-area"
            "footer-area    footer-area";
        
        > *
        {
            display:  flex;
            border:   solid #003000 1px;
            overflow: hidden;
        }

        > menu-area     { grid-area: menu-area }
        > side-bar-area { grid-area: side-bar-area }
        > content-area  { grid-area: content-area }
        > footer-area   { grid-area: footer-area }

        animation-name:     show-side-bar;
        animation-duration: 1s;
    }

    @media (max-width: 700px)
    {
        grid-area
        {
            grid-template-areas:
                "menu-area        menu-area"
                "content-area  content-area"
                "footer-area    footer-area";

            > side-bar-area
            {
                display: none;
            }

            animation-name:     hide-side-bar;
            animation-duration: 1s;
        }
    }

    @keyframes hover-in
    {
        from
        {
            width:  60px;
            height: 60px;
        }
        to
        {
            width:  100px;
            height: 100px;
        }
    }

    @keyframes hover-off
    {
        from
        {
            width:  100px;
            height: 100px;
        }
        to
        {
            width:  60px;
            height: 60px;
        }
    }

    side-bar-area img
    {
        width:  60px;
        height: 60px;
        animation-name: hover-off;
        animation-duration: 0.25s;
    }

    side-bar-area img:hover
    {
        width:  100px;
        height: 100px;
        animation-name: hover-in;
        animation-duration: 0.25s;
    }
}