:host
{
  background-color: lightseagreen;  
  width:            100%;
  text-align:       center;
  color:            white;
  border-bottom:    solid 2px green;
}

:host(:hover)
{
    cursor: context-menu;
}

:host(:active)
{
    background-color: #00cc00;
}

:host([active]),
:host([active="true"])
{
    border-bottom:    solid 2px green;
    background-color: #00cc00;
}