:host
{
    display:          flex;
    background-color: lightseagreen;  
    width:            100%;
    height:           calc(100% - 2px);
    border-bottom:    solid 2px green;
    text-align:       center;
    color:            white;
    > span
    {
        margin: auto;
    }
}

:host(:hover)
{
    cursor: context-menu;
    background-color: #00cc00;
}

:host(:active)
{
    background-color: #005500;
}

:host([active]),
:host([active="true"])
{
    border-bottom:    solid 2px green;
    background-color: #00cc00;
}